/* Write your CSS here */

.Bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-size: 80px;
  font-family: 'Bree Serif';
  color: #f0bb03;
}
.paragraph {
  font-size: 40px;
  font-family: 'Bree Serif';
  color: #ffffff;
}
.button {
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Bree Serif';
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 20px;
}
